# Python Basics

# Exercise 1: Prime Numbers

In [2]:
def is_prime(n):
    if n <= 1:
        print(f"{n} is not a prime number. (Prime numbers are greater than 1)")
        return False

    for i in range(2, n):
        if n % i == 0:
            print(f"{n} is not a prime number because it is divisible by {i}.")
            return False

    print(f"{n} is a prime number.")
    return True

In [3]:
num = int(input("Enter a number: "))
is_prime(num)

Enter a number: 23
23 is a prime number.

True

# Exercise 2: Product of Random Numbers

In [4]:
import random

num1 = random.randint(1, 10)
num2 = random.randint(1, 10)

print("What is the product of", num1, "and", num2, "?")
user_answer = int(input("Enter your answer: "))

correct_answer = num1 * num2

if user_answer == correct_answer:
    print("Correct! Well done.")
else:
    print("Wrong. The correct answer is", correct_answer)

What is the product of 1 and 2 ?
Enter your answer: 3
Wrong. The correct answer is 2

# Exercise 3: Squares of Even/Odd Numbers

In [5]:
# for evene no
for i in range(100, 201):
    if i % 2 == 0:
        print(f"{i}*2 = {i ** 2}")

100*2 = 10000
102*2 = 10404
104*2 = 10816
106*2 = 11236
108*2 = 11664
110*2 = 12100
112*2 = 12544
114*2 = 12996
116*2 = 13456
118*2 = 13924
120*2 = 14400
122*2 = 14884
124*2 = 15376
126*2 = 15876
128*2 = 16384
130*2 = 16900
132*2 = 17424
134*2 = 17956
136*2 = 18496
138*2 = 19044
140*2 = 19600
142*2 = 20164
144*2 = 20736
146*2 = 21316
148*2 = 21904
150*2 = 22500
152*2 = 23104
154*2 = 23716
156*2 = 24336
158*2 = 24964
160*2 = 25600
162*2 = 26244
164*2 = 26896
166*2 = 27556
168*2 = 28224
170*2 = 28900
172*2 = 29584
174*2 = 30276
176*2 = 30976
178*2 = 31684
180*2 = 32400
182*2 = 33124
184*2 = 33856
186*2 = 34596
188*2 = 35344
190*2 = 36100
192*2 = 36864
194*2 = 37636
196*2 = 38416
198*2 = 39204
200*2 = 40000

# Exercise 4: Word counter

In [7]:
input_text = "This is a sample text. This text will be used to demonstrate the word counter."

words = input_text.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

for word, count in word_count.items():
    print(f"'{word}': {count}")

'This': 2
'is': 1
'a': 1
'sample': 1
'text.': 1
'text': 1
'will': 1
'be': 1
'used': 1
'to': 1
'demonstrate': 1
'the': 1
'word': 1
'counter.': 1

# Exercise 5: Check for Palindrome

In [9]:
def is_palindrome(text):
    if text == text[::-1]:
        print("It is a palindrome")
    else:
        print("It is not a palindrome")

# Example usage
is_palindrome("racecar")  # It is a palindrome
is_palindrome("hello")    # It is not a palindrome

It is a palindrome
It is not a palindrome